@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bg-dark: #0f0f0f;
  --neon-blue: #56c5ff;
  --card: #1a1a1a;
}

body {
  background-color: var(--bg-dark);
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  padding: 15px 40px;
  z-index: 1000;
  background-color: rgba(30, 30, 30, 0.219); 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  
  border-radius: 50px; 
  border: 1px solid rgba(255, 255, 255, 0.318);

  display: flex;
  justify-content: space-between;
  padding: 2rem 5%;
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 2000;
  font-size: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ------------------------- Hero Section --------------------------*/

.hero {
  background-image: url('../assets/bgfundoheder.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 85vh; 
  width: 100%;
  

  padding-top: 150px; 
  }

.hero-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 50px; 

  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 40px;
}

.hero-text-col {
  flex: 1; 
  text-align: left; 
}

.hero-logos-col {
  flex: 1; 
  
  background-color: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(8px); 
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.hero h1 {
  font-family: 'Anta', sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
  margin: 1.5rem 0;
  
  font-weight: 700;
}

.btn-saiba-mais{
  background: #020321;
  color: white;
  font-family: 'Anta', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  padding: 14px 45px;
  border-radius: 50px;
  cursor: pointer;
border: 2px solid transparent; 
  background-image: linear-gradient(#080d2e, #000), 
                    linear-gradient(to right, #0051ff7a, #3a7bd5); /* Degradê azul claro */
  background-origin: border-box;
  background-clip: padding-box, border-box;

  box-shadow: 0px 0px 15px rgba(0, 210, 255, 0.2);
  
  transition: all 0.4s ease;
  position: relative;
  display: block;
}

hero-glass-block {
  background: rgba(13, 17, 23, 0.4); /* Vidro Escuro */
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 30px;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.realizacao-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; /* Alinha as logos por baixo */
}

.realizacao-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.realizacao-item img {
  max-height: 70px;
  width: auto;
  margin-bottom: 15px;
}

.realizacao-label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.realizacao-nome {
  color: #fff; /* Nome FACOM-UFU e outros agora 100% brancos */
  font-size: 16px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}



/* ------------------------- Logos Section --------------------------*/

.logos-section {
  background-color: #111111;  
  padding-top: 20px;  
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.622);


  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  margin-top: -180px;

  position: relative;
  z-index: 10;
  text-align: center;

}

.logos-title {
  color: #888;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.logos-carousel {
  overflow: hidden; 
  width: 100%;
  white-space: nowrap;
  position: relative;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,      
    black 15%,           
    black 85%,           
    transparent 100%    
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  )
}

.logos-track {
  display: inline-flex;
  align-items: center;
  width: max-content;
  animation: scroll 30s linear infinite; 
}

.logos-section:hover .logos-track {
  animation-play-state: paused;
}

.logos-track img {
  height: 40px; 
  margin: 0 60px; 
  
  filter: brightness(0) invert(1);
  opacity: 0.5; 
  
  transition: all 0.4s ease; 
  cursor: pointer;
}

.logos-track img:hover {
  filter: none; 
  opacity: 1; 
  transform: scale(1.15); 
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

/* ------------------------- Logos Section --------------------------*/


.stats-container {
  display: flex;
  justify-content: space-around;
  background: var(--card);
  margin: 2rem 5%;
  padding: 3rem;
  border-radius: 30px;
}

.stat-item h2 {
  color: var(--neon-blue);
  font-size: 2.5rem;
  margin: 0;
}

/* --- ESTILOS DA CONTAGEM REGRESSIVA NEON/GLASS --- */

.countdown-section-clean {
  background-color: #111111;  
  padding: 80px 0;
  text-align: center;
  color: white;
}

.countdown-title {
  font-family: 'Anta', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.countdown-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass-neon-number {
  font-family: 'Anta', sans-serif; 
  font-size: 150px;
  font-weight: 300px;
  position: relative;
  
  background: linear-gradient(
    180deg, 
    rgba(255, 255, 255, 0.4) 0%, 
    rgba(255, 255, 255, 0.1) 50%, 
    rgba(255, 255, 255, 0.019) 100%
  );
  -webkit-background-clip: text; /* NAO MECHER TA FUNCIONANDO*/
  -webkit-text-fill-color: transparent;
  
  -webkit-text-stroke: 0.5px #ffffff; 
  
  filter: drop-shadow(0 0 15px rgba(0, 68, 255, 0.6))
          drop-shadow(0 0 30px rgba(0, 76, 255, 0.3));
          
  transition: transform 0.3s ease;
}

.glass-neon-number:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 20px rgba(4, 0, 255, 0.8));
}

.label {
  font-size: 20px;
  letter-spacing: 2px;
  color: #555;
  margin-top: -30px; 
  font-weight: bold;
}



/* ---------------------- ABOUT SECTION ------------------------ */
.sobre-section {
  padding: 40px 80px; 
  color: #ffffff; 
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.sobre-header {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
  margin-bottom: 20px; 
  gap: 40px;
}

.titulo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icone-balao {
  font-size: 28px; 
  color: #007bff; 
  margin-bottom: 8px; 
}

.titulo-container h2 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
}


.sobre-conteudo {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

.sobre-linha-superior {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 50px; 
}

.paragrafo-principal {
  flex: 0 0 70%; /* Trava o texto para ocupar apenas 55% da largura da tela */
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  color: #e0e0e0;
}

.paragrafo-principal p {
  margin-bottom: 15px;
}

.paragrafo-principal p:last-child {
  margin-bottom: 0;
}

.img-competicao-vertical {
  flex: 1; 
  max-width: 25%; 
  aspect-ratio: 3 / 4; 
  height: auto;
  border-radius: 16px; 
  object-fit: cover; 
}

.img-turma-horizontal-larga {
  width: 100%; 
  height: 280px; 
  border-radius: 16px; 
  object-fit: cover;
  margin-top: 0; 
}

/* ==========================================================================
   FINAL BRASILEIRA SECTION
   ========================================================================== */
.final-section {
  padding: 5rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.final-header {
  text-align: center;
  max-width: 900px;
}

.final-header h2 {
  color: var(--text-main);
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.final-header .underline {
  height: 4px;
  width: 100px;
  background-color: var(--neon-blue);
  margin: 0 auto 1.5rem auto;
  border-radius: 2px;
}

.final-header p {
  color: var(--text-muted);
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify; 
}

.final-header strong,
.card-content strong {
  color: var(--text-main);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
}

.info-card {
  background-color: var(--bg-card); 
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #2a2a2a;
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-5px);
  border-color: var(--neon-blue);
}

.card-image-container {
  width: 100%;
  height: 200px;
  background-color: var(--bg-card);
  overflow: hidden;
  box-sizing: border-box;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.card-img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
  display: block;
}

.card-content {
  padding: 2rem;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-main);
}

.card-content p {
  color: var(--text-muted);
  line-height: 1.6;
  font-size: 0.95rem;
  text-align: justify; 
}

.final-action {
  margin-top: 2rem;
}

/* ==========================================================================
   BOTÃO PRIMARY (GRADIENTE AZUL NEON)
   ========================================================================== */
.btn-primary {
  background: #020321;
  color: white;
  font-family: 'Anta', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 45px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid transparent; 
  background-image: linear-gradient(#080d2e, #000), 
                    linear-gradient(to right, #0051ff7a, #3a7bd5); 
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0px 0px 15px rgba(0, 210, 255, 0.2);
  transition: all 0.4s ease;
  position: relative;
  display: block;
}

.btn-primary:hover {
  box-shadow: 0px 0px 25px rgba(0, 210, 255, 0.6);
  transform: scale(1.02);
}